@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <h4>
        First name and last name: Patryk Rzeźnicki
    </h4>
    <h4>Email: <a href="mailto:patryk.rzeznicki@unilodz.eu">patryk.rzeznicki@unilodz.eu</a></h4>
</address>
